set -U fish_greeting ""

if status is-interactive
    set -g fish_key_bindings fish_vi_key_bindings
    set -U fish_escape_delay_ms 10

    # TODO: Make it work with wezterm
    # bind alt-f accept-autosuggestion

    set --export HISTFILE ~/.config/fish/hh.history
    set --export HSTR_CONFIG hicolor,prompt-bottom
    set --export TELEMETRY_ENABLED false
    set --export INTELEPHENSE_LICENSE_KEY {{ (keepassxc "intelephense-key").Password }}
    set --export XAI_API_KEY {{ (keepassxc "x-ai-api-key").Password }}
    set --export GROK_API_KEY {{ (keepassxc "x-ai-api-key").Password }}

    abbr --add c clear
    abbr --add q exit

    abbr --add l 'eza --classify=auto --color=always --icons=always --almost-all --group-directories-first --long --binary --smart-group --header --mounts --octal-permissions --no-permissions --sort time'

    abbr --add man 'batman'
    abbr --add catp 'prettybat'

    abbr --add d dirh
    abbr --add nd nextd
    abbr --add pd prevd

    abbr --add utc 'date -u'

    abbr --add ag 'rg'
    abbr --add rgd --position command --set-cursor=% 'rg % --json | delta'
    abbr --add rglit 'rg -F'
    abbr --add rgu 'rg -u'
    abbr --add rguu 'rg -uu'
    abbr --add rguuu 'rg -uuu --debug'

    abbr --add g git
    abbr --add qg git
    abbr --add gl 'git l'
    abbr --add gs 'git s'

    abbr --add n "nvim"
    abbr --add v "nvim"

    abbr --add em "nvim $HOME/code/nixos-dotfiles/mac/cyan/configuration.nix"

    abbr --add ek "nvim $HOME/code/nixos-dotfiles/chezmoi/dot_config/kitty/kitty.conf"
    abbr --add et "nvim $HOME/code/nixos-dotfiles/chezmoi/dot_config/ghostty/config"
    abbr --add ew "nvim $HOME/code/nixos-dotfiles/chezmoi/dot_config/wezterm/wezterm.lua.tmpl"

    abbr --add ef "nvim $HOME/code/nixos-dotfiles/chezmoi/dot_config/fish/config.fish.tmpl"
    abbr --add eg "nvim $HOME/code/nixos-dotfiles/chezmoi/dot_gitconfig.tmpl"

    abbr --add cm 'chezmoi'
    abbr --add cmd 'chezmoi diff'
    abbr --add cme 'chezmoi edit --apply'
    abbr --add cma 'chezmoi apply'
    abbr --add cmt 'chezmoi chattr +template'

    abbr --add catjis 'iconv -f shift-jis -t utf-8'

    {{ if .mac -}}
    abbr --add mm 'sudo darwin-rebuild switch --flake $HOME/code/nixos-dotfiles#(hostname -s)'
    {{ else if .linux -}}
    if command -v nh >/dev/null 2>&1
        abbr --add mm 'nh os switch $HOME/code/nixos-dotfiles --hostname (hostname -s)'
    else
        abbr --add mm 'sudo nixos-rebuild switch --flake $HOME/code/nixos-dotfiles#(hostname -s)'
    end
    {{ end -}}

    abbr --add oc "OPENCODE_CONFIG=$HOME/code/ai-agents-configs/opencode/combined.json bunx opencode-ai@0.15.31"

    if not command -v gemini >/dev/null 2>&1
        abbr --add gemini "bunx @google/gemini-cli"
    end

    if not command -v qwen >/dev/null 2>&1
        abbr --add qwen "bunx @qwen-code/qwen-code@latest"
    end

    if not command -v crush >/dev/null 2>&1
        abbr --add crush "bunx @charmland/crush"
    end

    if not command -v codex >/dev/null 2>&1
        abbr --add codex "bunx @openai/codex"
    end

    if not command -v grok >/dev/null 2>&1
        abbr --add grok "bunx @vibe-kit/grok-cli"
    end

    if command -v cargo >/dev/null 2>&1
        fish_add_path --global "$HOME/.cargo/bin"

        abbr --add cf 'cargo fmt'
        abbr --add cl 'cargo clippy'
        abbr --add ck 'cargo check'

        abbr --add cb 'cargo build'
        abbr --add cbr 'cargo build --release'

        abbr --add cr 'cargo run'
        abbr --add crr 'cargo run --release'

        abbr --add ct 'cargo test'
        abbr --add ctn 'cargo test -- --nocapture'

        abbr --add cdo 'cargo doc --open'
    end

    if command -v npm >/dev/null 2>&1
        abbr --add nrb 'npm run build'
        abbr --add nrs 'npm run start'
    end

    {{ if .mac -}}
    source "$HOME/.api_keys.fish"

    fish_add_path --global "$HOME/code/dotfiles/bin"
    fish_add_path --global "$HOME/.codeium/windsurf/bin"
    fish_add_path --global "/Applications/WezTerm.app/Contents/MacOS"
    fish_add_path --global "$HOME/.bun/bin"
    fish_add_path --global "$HOME/.antigravity/antigravity/bin"

    if not command -v claude >/dev/null 2>&1
        abbr --add cld "bunx @anthropic-ai/claude-code"
        abbr --add claude "bunx @anthropic-ai/claude-code"
    else
        abbr --add cld "claude"
    end

    if command -v composer >/dev/null 2>&1
        fish_add_path --global "$HOME/.config/composer/vendor/bin"

        abbr --add com composer
    end

    fish_add_path --global "$HOME/Library/Application Support/Herd/bin/"

    abbr --add es 'exercism submit'
    abbr --add mus "musikcube"
    abbr --add gt 'gleam test'
    abbr --add zs 'zola serve'
    abbr --add dua 'dua interactive'
    abbr --add p1start "infisical run --projectId=todo1 --project-config-dir todo2 --env=dev --silent -- todo3"

    abbr --add epush "nvim ~/code/dotfiles/bin/_push_and_pull_android.sh"
    abbr --add epull "nvim ~/code/dotfiles/bin/_push_and_pull_android.sh"
    {{ end -}}

    if command -v mise >/dev/null 2>&1
        mise activate fish | source
    end
end

function __should_na --on-event fish_prompt
    echo $history[1] | grep -Ev '(^hh$|^sd|^1.$)' >> ~/.config/fish/hh.history
end

# Fixes order of $PATH entries in fish shell when using nix-darwin
# Based on https://github.com/LnL7/nix-darwin/issues/122#issuecomment-1345383219
fish_add_path --prepend --global "$HOME/.local/bin"
{{ if .mac -}}
fish_add_path --prepend --global /run/current-system/sw/bin
fish_add_path --prepend --global /nix/var/nix/profiles/default/bin
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{ end -}}
