--    █████   ███   █████                     ███████████
--   ░░███   ░███  ░░███                     ░█░░░███░░░█
--    ░███   ░███   ░███   ██████   █████████░   ░███  ░   ██████  ████████  █████████████
--    ░███   ░███   ░███  ███░░███ ░█░░░░███     ░███     ███░░███░░███░░███░░███░░███░░███
--    ░░███  █████  ███  ░███████  ░   ███░      ░███    ░███████  ░███ ░░░  ░███ ░███ ░███
--     ░░░█████░█████░   ░███░░░     ███░   █    ░███    ░███░░░   ░███      ░███ ░███ ░███
--       ░░███ ░░███     ░░██████   █████████    █████   ░░██████  █████     █████░███ █████
--        ░░░   ░░░       ░░░░░░   ░░░░░░░░░    ░░░░░     ░░░░░░  ░░░░░     ░░░░░ ░░░ ░░░░░

local wezterm = require('wezterm')
local config = wezterm.config_builder()
local act = wezterm.action

----------------------------
-- Keyboard Mappings
----------------------------

config.disable_default_key_bindings = false
config.leader = { mods = 'CTRL', key = 'a', timeout_milliseconds = 500 }
config.keys = {
  -- Reload config
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'r', action = act.ReloadConfiguration },

  -- Toggle full screen
  { mods = 'CTRL', key = 'F10', action = 'ToggleFullScreen' },

  -- Tabs: open and navigate
  { mods = 'LEADER', key = 'c', action = act.SpawnTab('CurrentPaneDomain') },
  { mods = 'LEADER', key = 'n', action = act.SpawnTab('CurrentPaneDomain') },
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = ']', action = act.ActivateTabRelative(1) },
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = '[', action = act.ActivateTabRelative(-1) },
  { mods = 'LEADER', key = 't', action = act.ShowTabNavigator },

  -- Current Tab: retitle
  { mods = 'LEADER', key = ',', action = act.PromptInputLine({ description = 'Enter new title:', action = wezterm.action_callback(function(window, pane, line)
      if line then
        window:active_tab():set_title(line)
      end
    end), }), },

  -- Panes: open
  { mods = 'LEADER', key = 'v', action = act.SplitHorizontal({ domain = 'CurrentPaneDomain' }) },
  { mods = 'LEADER', key = 's', action = act.SplitVertical({ domain = 'CurrentPaneDomain' }) },

  -- Panes: activate
  { mods = 'LEADER|CTRL', key = 'a', action = act.ActivatePaneDirection('Next') }, -- CTRL-a CTRL-a
  { mods = 'LEADER', key = 'h', action = act.ActivatePaneDirection('Left') },
  { mods = 'LEADER', key = 'j', action = act.ActivatePaneDirection('Down') },
  { mods = 'LEADER', key = 'k', action = act.ActivatePaneDirection('Up') },
  { mods = 'LEADER', key = 'l', action = act.ActivatePaneDirection('Right') },

  -- Panes: resize
  { mods = 'LEADER', key = 'r', action = act.ActivateKeyTable({ name = 'resize_pane', one_shot = false }) },

  -- Panes: zoom/unzoom
  { mods = 'LEADER', key = 'o', action = act.TogglePaneZoomState },

  -- Panes: close
  { mods = 'LEADER', key = 'x', action = act.CloseCurrentPane({ confirm = true }) },

  -- Adjust font size
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = '0', action = act.ResetFontSize },
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = '-', action = act.DecreaseFontSize },
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = '=', action = act.IncreaseFontSize },

  -- Paste
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'V', action = act.PasteFrom('Clipboard') },
  {{ if .windows -}}
  { mods = 'CTRL', key = 'V', action = act.PasteFrom('Clipboard') },
  {{ end -}}

  -- Send CTRL+C (for quitting some programs)
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'c', action = act({ SendString = '\x03' }) },

  -- Send CTRL+D (for quitting some programs)
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'd', action = act({ SendString = '\x04' }) },

  -- For vim/nvim jump motions: https://neovim.io/doc/user/motion.html#jump-motions
  -- Send CTRL+O
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'o', action = act({ SendString = '\x0f' }) },

  -- For vim/nvim jump motions: https://neovim.io/doc/user/motion.html#jump-motions
  -- Send F-19. Don't send CTRL+I because CTRL+I normally is indistinguishable from Tab.
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'i', action = act({ SendString = '\x1b[33~' }) },

  -- Send CTRL+N (for selecting next item in vim completion menu)
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'n', action = act({ SendString = '\x0e' }) },

  -- Send CTRL+P (for selecting previous item in vim completion menu)
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'p', action = act({ SendString = '\x10' }) },

  -- Send CTRL+S (for fish pager-toggle-search https://www.youtube.com/watch?v=dnj-Hpg7Qlo&t=20s)
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = '`', action = act({ SendString = '\x13' }) },

  -- F-13... were copied from http://aperiodic.net/phil/archives/Geekery/term-function-keys.html

  -- Send F-13
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'd', action = act({ SendString = '\x1b[25~' }) },

  -- Send F-14
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'u', action = act({ SendString = '\x1b[26~' }) },

  -- Send F-15
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'w', action = act({ SendString = '\x1b[28~' }) },

  -- Send F-16
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'b', action = act({ SendString = '\x1b[29~' }) },

  -- Send F-17
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'e', action = act({ SendString = '\x1b[31~' }) },

  -- Send F-18
  { mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}', key = 'x', action = act({ SendString = '\x1b[32~' }) },

  -----------------------------------------
  -- Keyboard Mappings For Special Features
  -----------------------------------------

  -- CMD+SHIFT+h activates Quick Select Mode
  -- This is similar to Kitty terminal's "hints" kitten
  {
    mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}|SHIFT',
    key = 'h',
    action = act.QuickSelect,
  },

  -- CMD+SHIFT+o opens a URL with Quick Select Mode
  {
    mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}|SHIFT',
    key = 'o',
    action = wezterm.action.QuickSelectArgs({
      label = 'open url',
      patterns = {
        'https?://\\S+',
      },
      skip_action_on_paste = true,
      action = wezterm.action_callback(function(window, pane)
        local url = window:get_selection_text_for_pane(pane)
        wezterm.log_info('opening: ' .. url)
        wezterm.open_with(url)
      end),
    }),
  },

  -- More info: https://wezfurlong.org/wezterm/copymode.html
  { mods = 'LEADER', key = 'y', action = act.ActivateCopyMode },

  -- TODO(norman): Read https://wezfurlong.org/wezterm/scrollback.html#searching-the-scrollback
  -- and customize the search_mode key table, according to https://wezterm.org/scrollback.html#configurable-search-mode-key-assignments
  {
    mods = '{{- if .windows }}ALT{{- else }}CMD{{- end }}|SHIFT',
    key = 'W',
    action = act.Search({ Regex = '[a-f0-9]{6,}' }),
  },

  -- TODO(norman): Read https://wezfurlong.org/wezterm/config/launch.html#the-launcher-menu

  -- SHIFT+ENTER for Claude Code
  { mods = 'SHIFT', key = 'Enter', action = act({ SendString = '\x1b\r' }) },
}

config.key_tables = {
  resize_pane = {
    { key = 'LeftArrow', action = act.AdjustPaneSize({ 'Left', 1 }) },
    { key = 'h', action = act.AdjustPaneSize({ 'Left', 1 }) },

    { key = 'RightArrow', action = act.AdjustPaneSize({ 'Right', 1 }) },
    { key = 'l', action = act.AdjustPaneSize({ 'Right', 1 }) },

    { key = 'UpArrow', action = act.AdjustPaneSize({ 'Up', 1 }) },
    { key = 'k', action = act.AdjustPaneSize({ 'Up', 1 }) },

    { key = 'DownArrow', action = act.AdjustPaneSize({ 'Down', 1 }) },
    { key = 'j', action = act.AdjustPaneSize({ 'Down', 1 }) },

    -- Exits the resize pane mode
    { key = 'Escape', action = 'PopKeyTable' },
    { key = 'Enter', action = 'PopKeyTable' },
  },
  copy_mode = {
    { key = 'y', mods = 'NONE', action = act.Multiple{ { CopyTo =  'ClipboardAndPrimarySelection' }, { Multiple = { 'ScrollToBottom', { CopyMode =  'Close' } } } } },

    { key = 'Enter', mods = 'NONE', action = act.CopyMode 'MoveToStartOfNextLine' },

    { key = 'V', mods = 'NONE', action = act.CopyMode{ SetSelectionMode =  'Line' } },
    { key = 'V', mods = 'SHIFT', action = act.CopyMode{ SetSelectionMode =  'Line' } },
    { key = 'v', mods = 'NONE', action = act.CopyMode{ SetSelectionMode =  'Cell' } },

    { key = 'h', mods = 'NONE', action = act.CopyMode 'MoveLeft' },
    { key = 'j', mods = 'NONE', action = act.CopyMode 'MoveDown' },
    { key = 'k', mods = 'NONE', action = act.CopyMode 'MoveUp' },
    { key = 'l', mods = 'NONE', action = act.CopyMode 'MoveRight' },

    { key = 'g', mods = 'NONE', action = act.CopyMode 'MoveToScrollbackTop' },
    { key = 'G', mods = 'NONE', action = act.CopyMode 'MoveToScrollbackBottom' },
    { key = 'G', mods = 'SHIFT', action = act.CopyMode 'MoveToScrollbackBottom' },

    { key = '^', mods = 'NONE', action = act.CopyMode 'MoveToStartOfLineContent' },
    { key = '$', mods = 'NONE', action = act.CopyMode 'MoveToEndOfLineContent' },

    { key = 'w', mods = 'NONE', action = act.CopyMode 'MoveForwardWord' },
    { key = 'b', mods = 'NONE', action = act.CopyMode 'MoveBackwardWord' },

    { key = 'u', mods = 'CTRL', action = act.CopyMode{ MoveByPage = (-0.5) } },
    { key = 'd', mods = 'CTRL', action = act.CopyMode{ MoveByPage = (0.5) } },

    { key = 'Escape', mods = 'NONE', action = act.Multiple{ 'ScrollToBottom', { CopyMode =  'Close' } } },
    { key = 'q', mods = 'NONE', action = act.Multiple{ 'ScrollToBottom', { CopyMode =  'Close' } } },
  },
}

----------------------------
-- Mouse bindings
----------------------------

config.mouse_bindings = {
  {
    event = { Down = { streak = 3, button = 'Left' } },
    action = act.SelectTextAtMouseCursor 'SemanticZone',
    mods = 'NONE',
  },
  {
    event = { Down = { streak = 1, button = "Right" } },
    mods = "NONE",
    action = wezterm.action_callback(function(window, pane)
      local has_selection = window:get_selection_text_for_pane(pane) ~= ""
      if has_selection then
        window:perform_action(act.CopyTo("ClipboardAndPrimarySelection"), pane)
        window:perform_action(act.ClearSelection, pane)
      else
        window:perform_action(act({ PasteFrom = "Clipboard" }), pane)
      end
    end),
  },
}

------------------------------
-- Appearance: Font
--
-- Despite this being WezTerm config, kitty's visual font previewer is very nice:
-- Open kitty and run /Applications/kitty.app/Contents/MacOS/kitty list-fonts
------------------------------

{{ if .mac -}}
config.font_size = 20.0
config.font = wezterm.font_with_fallback({
  { family = 'Moralerspace Neon HWJPDOC', weight = 'Regular', italic = false },
  { family = 'Symbols Nerd Font Mono', scale = 1 },
})
config.harfbuzz_features = { 'calt=1', 'clig=0', 'liga=0', 'zero', 'ss01' }
{{ end -}}

{{ if .windows -}}
config.font_size = 17.0
config.font = wezterm.font_with_fallback({
  { family = 'Cascadia Code', weight = 'Regular', italic = false },
})
{{ end -}}

-- Visual test text for fonts
-- oO08 iIlL1 g9qCGQ ~-+=>;_
-- â é ù ï ø ç Ã Ē Æ œ
-- {a} (a) [a]
-- [[ ]]
-- (( ))
-- -----------
-- ___________
-- ===========

------------------------------
-- Appearance: Color scheme
------------------------------

local fav_color_schemes = {
  'Oceanic Next (Gogh)',
  'One Dark (Gogh)',
  'Sea Shells (Gogh)',
  'Sequoia Moonlight',
  'Spacedust',
  'Tokyo Night',
  'Navy and Ivory (terminal.sexy)',
}

local random_color_scheme = function()
  return fav_color_schemes[math.random(1, #fav_color_schemes)]
end

local active_color_scheme = random_color_scheme()

config.color_scheme = active_color_scheme

------------------------------
-- Appearance: Tab bar
------------------------------

config.enable_tab_bar = true
config.show_tabs_in_tab_bar = true
config.tab_bar_at_bottom = {{ if .windows }}false{{- else }}true{{- end }}
config.tab_max_width = 20

config.hide_tab_bar_if_only_one_tab = true
config.use_fancy_tab_bar = {{ if .windows }}true{{- else }}false{{- end }}

config.colors = {
  tab_bar = {
    -- The color of the strip that goes along the top of the window
    -- (does not apply when fancy tab bar is in use)
    background = '#0b0022',

    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#2b2042',
      -- The color of the text for the tab
      fg_color = '#c0c0c0',

      -- Specify whether you want "Half", "Normal" or "Bold" intensity for the
      -- label shown for this tab.
      -- The default is "Normal"
      intensity = 'Normal',

      -- Specify whether you want "None", "Single" or "Double" underline for
      -- label shown for this tab.
      -- The default is "None"
      underline = 'None',

      -- Specify whether you want the text to be italic (true) or not (false)
      -- for this tab.  The default is false.
      italic = false,

      -- Specify whether you want the text to be rendered with strikethrough (true)
      -- or not for this tab.  The default is false.
      strikethrough = false,
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#1b1032',
      fg_color = '#808080',

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `inactive_tab`.
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#3b3052',
      fg_color = '#909090',
      italic = true,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `inactive_tab_hover`.
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#1b1032',
      fg_color = '#808080',

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `new_tab`.
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#3b3052',
      fg_color = '#909090',
      italic = true,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `new_tab_hover`.
    },
  },
  quick_select_label_bg = { Color = '#ea8dde' },
  quick_select_label_fg = { Color = '#44213b' },
  quick_select_match_bg = { Color = '#ea8dde' },
  quick_select_match_fg = { Color = '#cf40ab' },
}

------------------------------
-- Appearance: Window
------------------------------

config.initial_cols = 200
config.initial_rows = 70

{{ if .mac -}}
config.window_decorations = 'RESIZE|MACOS_USE_BACKGROUND_COLOR_AS_TITLEBAR_COLOR'
config.window_padding = {
  left = 0,
  right = 0,
  top = 0,
  bottom = 0,
}
{{ end }}

{{ if .windows -}}
config.window_decorations = 'RESIZE | TITLE'
config.window_padding = {
  left = 0,
  right = 0,
  top = 0,
  bottom = 0,
}
{{ end -}}

config.adjust_window_size_when_changing_font_size = false

------------------------------
-- Other
------------------------------

{{ if .windows -}}
config.default_domain = "WSL:NixOS"
{{ end -}}

{{ if .windows -}}
config.max_fps = 40
{{ else -}}
config.max_fps = 120
{{ end -}}

config.audible_bell = 'Disabled'
config.use_ime = true
config.enable_kitty_keyboard = true
config.enable_kitty_graphics = true
config.check_for_updates = false
config.notification_handling = 'NeverShow'
config.scrollback_lines = 100000

local path_regex = [[~?(?:[-.\w]*/)+[-.\w]*]]
local url_regex = [[https?://[^<>"\s{-}\^⟨⟩`│⏎]+]]
local hash_regex = [=[[a-f\d]{4,}|[A-Z_]{4,}]=]
config.quick_select_patterns = { path_regex, url_regex, hash_regex }

return config
