# See https://ianthehenry.com/posts/how-to-configure-tmux/ for more explanation
# And https://github.com/ianthehenry/dotfiles/blob/master/.tmux.conf

# Set globally: prefix key as M-w (Alt/Opt-w)
set -g prefix M-w

set -g history-limit 5000
set -gs escape-time 1
set -g mouse on
set -g mode-keys vi

{{ if .mac -}}
set -g copy-command "pbcopy"
{{ end }}

# --------------
# Keyboard binds
# --------------

# Unbind default keys from various key tables
unbind -a -T root
unbind -a -T prefix
unbind -a -T copy-mode
unbind -a -T copy-mode-vi

# M-w, M-r: Reload config
bind M-r source-file ~/.tmux-conf

# Next session
bind -T root F11    switch-client -n

# Prev session
bind -T root F12    switch-client -p

# M-w, Space: Enter copy mode
bind Space copy-mode

bind -T copy-mode-vi y        send -X copy-pipe-no-clear

bind -T copy-mode-vi k        send -X cursor-up
bind -T copy-mode-vi j        send -X cursor-down
bind -T copy-mode-vi h        send -X cursor-left
bind -T copy-mode-vi l        send -X cursor-right

bind -T copy-mode-vi /        command-prompt -i -p "(search down)" { send -X search-forward-incremental  "%%%" }
bind -T copy-mode-vi ?        command-prompt -i -p "(search up)"   { send -X search-backward-incremental "%%%" }
bind -T copy-mode-vi n        send -X search-again
bind -T copy-mode-vi N        send -X search-reverse

bind -T copy-mode-vi Enter    if -F "#{selection_present}" { send -X copy-pipe-and-cancel }                      { send -X copy-line }
bind -T copy-mode-vi S-Enter  if -F "#{selection_present}" { send -X copy-pipe-and-cancel; paste-buffer -s ' ' } { send -X copy-line; paste-buffer -s ' ' }
bind -T copy-mode-vi Escape   if -F "#{selection_present}" { send -X clear-selection }                           { send -X cancel }
bind -T copy-mode-vi Space    if -F "#{selection_present}" { send -X clear-selection }                           { send -X begin-selection }

# --------------
# Mouse binds
# --------------

bind -n WheelUpPane                    copy-mode -e
bind -n MouseDrag1Pane                 copy-mode -M

bind -T copy-mode-vi WheelUpPane       send -X -N 5 scroll-up
bind -T copy-mode-vi WheelDownPane     send -X -N 5 scroll-down
bind -T copy-mode-vi MouseDrag1Pane    send -X begin-selection
bind -T copy-mode-vi MouseDragEnd1Pane send -X copy-selection-no-clear
